section#header
	.flex--space-around
		blockquote.flex--j-center.col.title
			h2 Úgy érezzük, hogy amit teszünk, csak egy csepp a tengerbe. Anélkül a csepp nélkül azonban sekélyebb volna tenger.
			span (Teréz Anya)
		.flex--j-center.col.about--header
			h1 Nekünk sokat segít az
				span.flex--center 1%
			div.flex--center.cta
				a(href='#').cta Nyilatkozat letöltése
