nav#navigation
	.logo
		h1 Önzetlenül Másokért Alapítvány
			span 10104167-57301500-01000006
	.nav
		.nav--toggle: span
		ul
			li
				a(href='#') Rólunk
			li
				a(href='#') Adománygyűjtés
			li
				a(href='#') Kapcsolat
			li.bank
				p Bankszámlaszám:
					span 10104167-57301500-01000006
