nav#navigation
	.logo
		h1 Önzetlenül Másokért Alapítvány
			span 10104167-57301500-01000006
	.nav
		.nav--toggle: span
		ul
			li
				a(href='#about') Rólunk
			li
				a(href='#donation') Adománygyűjtés
			li
				a(href='#contact') Kapcsolat
			li.bank
				p Bankszámlaszám:
					span 10104167-57301500-01000006
